html, body{
    background-color: lightyellow;
}

* {
    box-sizing: border-box;
}


div {
    position: relative;
    text-align: center;
    height:500px;
    border: solid 1px;
    border-radius: 10px;
    padding: 20px 20px;
    display: block; 
    margin: 10px 10% 10px 10%;
}


p {
    text-align: center;
    color: black;
    font: 18px serif;
}


h1 {
    text-align: center;
    color: green;
    font: 60px serif;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: black;
    font: 36px serif;
    font-weight: bold;
}

#outer {
    display: flex;
    gap: 10px;
}

#inner {
    flex: 1;
    border: none;
    padding: 10px;
}

#foodImport {
    flex: 1;
    border: none;
    padding: 10px;
}